.facebook {
  /* fb */

  width: 30px;
  height: 30px;
  color: burlywood;
  /* Dark */
  background: #21243d;
}
.instagram {
  /* Vector */

  width: 15.46px;
  height: 15.46px;

  /* Dark */
  background: #21243d;
}
.twitter {
  /* Vector */

  width: 36.92px;
  height: 30px;

  /* Dark */
  background: #21243d;
}
.linkedin {
  /* Linkedin */

  width: 30px;
  height: 30px;

  /* Dark */
  background: #21243d;
}
